
.custom-logo {
  width: 100px;
  height: 16px;
  padding-right: 10px;
}
.nav-link {
  padding: 1.5rem 0;
  margin: 0 2rem;
  color: #ffffff;
  font-family: "Vollkorn", "serif";
  text-transform: uppercase;
}

.navbar {
  padding: 4px 0 ;
}
.dropdown-item {
  font-family: 'Vollkorn', serif;
  font-size: 16px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav {
      margin-left: 259px;
  }
}
